@model Health_Insurance.Models.SahtakUser

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/Account Template/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Account Template/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <form asp-action="Edit">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name"required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-home"></span>
                    <input type="text" class="form-control" asp-for="Address" placeholder="Address" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                </div>
                <div class="form-holder"hidden>
                    <span class="lnr lnr-clock"></span>
                    <input type="text" class="form-control" name="date" id="date" asp-for="JoinDate" placeholder="">
                </div>
                <div class="form-holder"hidden>
                    <span class="lnr lnr-lock"></span>
                    <input type="number" class="form-control" asp-for="RoleId" placeholder="">
                </div>
                <button type="submit">
                    <span>Edit</span>
                </button>
            </form>
        </div>

    </div>

    <script src="~/Account Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Account Template/js/main.js"></script>
</body>
</html>